body {
width:100vw;
height: 100vh;
box-sizing: border-box;
background-repeat: no-repeat;
display:flex;
justify-content: center;
/* background-image: url('./images/target-logo.png'); */
}

#root {
  height: 100%;
  width:100%;
  background-size: 15%;
  background-position: 15px 15px;
  max-width: 600px;
}


.welcome-container {
 display: flex;
  height: 100%;
  width:100%;
  justify-content: center;
  align-items: center;
  
}
.welcome-content {
  border:1px solid black;
  text-align: center;

}
.welcome-text {
  margin-bottom:30px;
  font-size:

}
  
.progress {
  font-size:20px;
  margin-bottom:24px;
}


.answer-buttons {


}
#answer-submit-button {
  margin-top:30px;
}

.question-container {
  text-align:center;
  padding:24px;
}
.question-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  text-align:center;
}

.question {
  font-size: 30px;
  font-weight: bold;
  flex-grow: 3;
    
  }
  .line {
    border-top:1px solid gray;
    height:30px; 
  }
.feedback-container {
  margin-top:50px;
}
.feedback-status {
  font-size:25px;
  font-weight: bold;
  margin-bottom:50px;
}

.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1 {
  color:black;
  font-size:20px;
}

.actions {
}

.green {
  color:green;
}

.red {
  color:red;
}