body {
  
  background-size: 20%;
  background-position: 15px 15px;
  padding:30px;
width:100vw;
box-sizing: border-box;
background-repeat: no-repeat;
background-image: url('./images/target-logo.png');


  
}
.root {
}

.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.answer-buttons {


}

.question-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}
.question {
  font-size: 40px;
    
    
  }
  .line {
    border-top:1px solid gray;
    height:30px;
  }


.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1 {
  color:black;
  font-size:20px;
}




.actions {
}
